<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>databse website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Benutzer hinzufügen</h1>
        <form action="/add" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email" required>

            <button type="submit">Hinzufügen</button>
        </form>

	<form action="/add_random" method = "POST">
		<button type="submit">Random</button>
	</form>

	<form action="/del_user" method = "POST">
		<label for="deluser">User to delete</label>
		<input type="number" id="del_user" name="del_user">
		<button type="submit">Delete</button>
	</form>

        <h2>Benutzerliste</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>


